/* block 속성 */
/* 
    div
    h1 ~ h6
    p / ol, ul, li
    hr / table / form

    특징

    항상 새로운 line 에서 시작
    기본으로 width 100%
    width height margin padding 같은
    property 즉 속성 지정 가능
    block 요소 안에 inline 요소를 포함 가능

*/

.aa {
    background-color: coral;
    padding: 20px;
}

.bb {
    background-color: aqua;
    width: 300px;
    padding: 20px;
}

.xx {
    width: 200px;
    /* line-height: 를 줘도 되지만 */
    /* 아래처럼 span에 따로 클래스를 줘서
    그 클래스에 line-height를 넣어도 된다. */
}
.big-lh {
    line-height: 2em;
}
/* inline 속성 */
/* 
    
    span(block에 div가 있다면 inline에 span이 있다.
    a / strong, em, del / omg / br / input
    input, select / textarea / button

    특징
    새로운 라인에서 시작하지 않으며, 문장 중간에 쓸 수 있다.
    content 너비만큼 가로폭을 차지한다.

    width height margin padding 같은 property 즉 속성 지정 불가능.
    단, 행간으로 지정할 수 있다.
    inline 요소 뒤에 공백(\n, space)이 있으면, 자동으로 space(4px)가 들어간다.
    inline 요소 안에 block 요소 포함 불가능

*/
/* inline-block 속성 */
/* 
    inline의 한줄표시 + block의 margin, padding, width, height
    content 너비만큼 가로폭
    display: inline-block인 요소들 뒤에 공백은 space(4px)
    상하 여백: margin과 line height로 가능.
    
*/

.ib {
    display: inline-block;
}
